// 颜色定义规范
$color-background = #fff
$color-background-l = #f2f6fa
$color-background-highlight = #333
$color-background-highlight-l = #666
$color-background-line = #f7f8f9
$color = rgba(0, 0, 0, 0.8)
$color-theme = #61a4ff
$color-orange = #fcb474
$color-pink = #ff8297
$color-green = #afd442
$color-blue = #75caff
$color-purple = #c79bfa
$color-sub = #d93f30
$color-text-weak = rgba(0,0,0,.5);
$color-text-m = #738299
$color-text = #424f65
$color-text-l = #2c3e50
$color-border = #ece6e6


//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 15px
$font-size-medium-xx = 16px
$font-size-large = 18px
$font-size-large-x = 22px
$font-size-g = 24px